<h1>Search for Covid Stats</h1>
<h2>Input Date yyyy-mm-dd format</h2>

<form action="/">
  <input type="text" name="date">
  <button type="submit">Search</button>
</form>

<div class="covidResults">
    
</div>